language: node_js
node_js:
  - "10"
  - "8"
  - "6"
  - "5"
  - "4"
  - "0.12"
  - "0.10"
matrix:
  fast_finish: true
script: if [ $(echo "${TRAVIS_NODE_VERSION}" | cut -d'.' -f1) -ge 4 ]; then
          npm run cover;
        else
          npm test;
        fi
os:
  - linux
  - osx
